 
  .jurusan-slider-container {
    padding: 2rem 0;
    background: linear-gradient(to right, #3a1c0b, #2d1105);
    color: white;
    text-align: center;
  }
  
  .jurusan-slider {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .jurusan-slide {
    display: flex;
    opacity: 0.6;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: blur(2px);
    transform: scale(0.85);
    transition: all 0.4s ease;
    height: 300px;
    padding: 1rem;
  }
  
  .jurusan-slide:hover {
    transform: scale(1.08);
    filter: brightness(1.2);
  }
  
  .jurusan-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 0.8rem;
  }
  
  .jurusan-name {
    font-weight: 500;
    font-size: 1rem;
    color: #ffd54f;
  }

.swiper-slide-active .jurusan-slide {
  opacity: 0.6;
  transition: all 0.4s ease;
  transform: scale(1.1);
  filter: blur(0);
  z-index: 10;
}

.swiper-slide-active .jurusan-name {
  font-weight: 700;
  color: #ffd54f;
}

.jurusan-slide.active {
  transform: scale(1.15);
  filter: brightness(1.3) blur(0);
  z-index: 10;
  transition: all 0.4s ease;
}

.jurusan-slide.active .jurusan-name {
  font-weight: 700;
  color: #ffffff;
}

.swiper-slide-active .jurusan-slide, .jurusan-slide.active {
  opacity: 1;
}